
{% extends 'page_layout.html' %}

{% block body %}

<div id="carouselExampleCaptions" class="container carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="main_image" src="/static/images/carousel-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="animate__animated animate__fadeInDown">The Best Kindergarten School For Your Child</h1>
              <p>Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
              <a class="animate__animated animate__fadeInLeft Learn" href="">Learn More</a>
              <a class="animate__animated animate__fadeInRight Our" href="">Our Classes</a>
            </div>
        </div>
        <div class="carousel-item">
            <img class="main_image" src="/static/images/carousel-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1 >Make A Brighter Future For Your Child</h1>
              <p>Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
              <a class="Learn" href="">Learn More</a>
              <a class="Our" href="">Our Classes</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<section>
    <div class="container School">
      <div class="row School_facilities">
        <div class="col text">
            <h1>School Facilities</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="col dolls">
          <div class="row doll_row">
            <div class="col-md-3 col-12 one p-0">
                <div class="facility_item">
                  <div class="icon">
                    <i class="fa-solid fa-bus"></i>
                  </div>
                  <div class="details">
                    <h3>School Bus</h3>
                    <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-12 one">
              <div class="facility_item">
                <div class="icon">
                  <i class="fa fa-futbol fa-3x"></i>
                </div>
                <div class="details">
                  <h3>Playground</h3>
                  <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 one">
              <div class="facility_item">
                <div class="icon">
                  <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div class="details">
                  <h3>Healthy Canteen</h3>
                  <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 one">
              <div class="facility_item">
                <div class="icon">
                    <i class="fa fa-chalkboard-teacher fa-3x"></i>
                </div>
                <div class="details">
                  <h3>Positive Learning</h3>
                  <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container about_section">
    <div class="row about">
      <div class="col text">
        <h1>Learn More About Our Work And Our Cultural Activities</h1>
        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <p>Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos, ipsum labore duo duo sit no sea diam. Et dolor et kasd ea. Eirmod diam at dolor est vero nonumy magna.</p>
        <div class="row ceo">
          <div class="col read_more">
            <a href="">Read More</a>
          </div>
          <div class="col pic">
            <div class="photo">
              <img src="/static/images/user.jpg" alt="">
            </div>
            <div class="name">
              <h6>Jhon Doe</h6>
              <p>CEO & Founder</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col images">
        <img class="img-fluid" style="width: 450px; height: 450px; margin-left: 100px; margin-top: -100px;" src="/static/images/about-1.jpg" alt="">
        <img class="img-fluid" style="margin-left: -500px; width: 300px; height: 300px; margin-top: 350px;" src="/static/images/about-2.jpg" alt="">
        <img class="img-fluid" style="width: 300px; height: 300px; margin-top: 350px; margin-left: 10px;" src="/static/images/about-3.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container teacher_section">
    <div class="row become_teacher">
      <div class="col image p-0">
        <img src="/static/images/call-to-action.jpg" alt="">
      </div>  
      <div class="col text">
        <h1>Become A Teacher</h1>
        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <a href="#">Get Started Now <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container School_class_section">
    <div class="row School_class">
      <div class="text">
        <h1>School Classes</h1>
        <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
      </div>
      <div class="row image">
          <div class="col-md-4 col-12 details">
            <div class="picture">
              <img class="img-fluid" src="/static/images/classes-1.jpg" alt="">
            </div>
            <div class="content">
                <h5>Art & Drawing</h5>
              <div class="col pic">
                <div class="wrap">
                  <div class="photo">
                    <img src="/static/images/user.jpg" alt="">
                  </div>
                  <div class="name">
                    <h6>Jhon Doe</h6> 
                    <p>Teacher</p>
                  </div>
                </div>
                <div class="read_more">
                  <a href="">$99</a>
                </div>
              </div>
            </div>
            <div class="row age_time_capacity">
              <div class="col-md-4 col-12 item">
                <p style="color: rgb(246, 85, 49);">Age : </p>
                <p style="color: rgb(93, 91, 103);">3-5 Years</p>
              </div>
              <div class="col-md-4 col-12 item">
                <p style="color: rgb(25, 135, 84);">Time : </p>
                <p style="color: rgb(93, 91, 103);">9:10 AM</p>
              </div>
              <div class="col-md-4 col-12 item">
                <p style="color: rgb(255, 193, 7);">Capacity : </p>
                <p style="color: rgb(93, 91, 103);">30 Kids</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 details">
            <div class="picture">
              <img class="img-fluid" src="/static/images/classes-2.jpg" alt="">
            </div>
            <div class="content">
              <h5>Color Management</h5>
            <div class="col pic">
              <div class="wrap">
                <div class="photo">
                  <img src="/static/images/user.jpg" alt="">
                </div>
                <div class="name">
                  <h6>Jhon Doe</h6> 
                  <p>Teacher</p>
                </div>
              </div>
              <div class="read_more">
                <a href="">$99</a>
              </div>
            </div>
          </div>
          <div class="row age_time_capacity">
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(246, 85, 49);">Age : </p>
              <p style="color: rgb(93, 91, 103);">3-5 Years</p>
            </div>
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(25, 135, 84);">Time : </p>
              <p style="color: rgb(93, 91, 103);">9:10 AM</p>
            </div>
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(255, 193, 7);">Capacity : </p>
              <p style="color: rgb(93, 91, 103);">30 Kids</p>
            </div>
          </div>
          </div>
          <div class="col-md-4 col-12 details">
            <div class="picture">
              <img class="img-fluid" src="/static/images/classes-3.jpg" alt="">
            </div>
            <div class="content">
              <h5>Athletic & Dance</h5>
            <div class="col pic">
              <div class="wrap">
                <div class="photo">
                  <img src="/static/images/user.jpg" alt="">
                </div>
                <div class="name">
                  <h6>Jhon Doe</h6> 
                  <p>Teacher</p>
                </div>
              </div>
              <div class="read_more">
                <a href="">$99</a>
              </div>
            </div>
          </div>
          <div class="row age_time_capacity">
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(246, 85, 49);">Age : </p>
              <p style="color: rgb(93, 91, 103);">3-5 Years</p>
            </div>
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(25, 135, 84);">Time : </p>
              <p style="color: rgb(93, 91, 103);">9:10 AM</p>
            </div>
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(255, 193, 7);">Capacity : </p>
              <p style="color: rgb(93, 91, 103);">30 Kids</p>
            </div>
          </div>
          </div>
      </div>
      <div class="row image">
        <div class="col-md-4 col-12 details">
          <div class="picture">
            <img class="img-fluid" src="/static/images/classes-4.jpg" alt="">
          </div>
          <div class="content">
              <h5>Language & Speaking</h5>
            <div class="col pic">
              <div class="wrap">
                <div class="photo">
                  <img src="/static/images/user.jpg" alt="">
                </div>
                <div class="name">
                  <h6>Jhon Doe</h6> 
                  <p>Teacher</p>
                </div>
              </div>
              <div class="read_more">
                <a href="">$99</a>
              </div>
            </div>
          </div>
          <div class="row age_time_capacity">
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(246, 85, 49);">Age : </p>
              <p style="color: rgb(93, 91, 103);">3-5 Years</p>
            </div>
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(25, 135, 84);">Time : </p>
              <p style="color: rgb(93, 91, 103);">9:10 AM</p>
            </div>
            <div class="col-md-4 col-12 item">
              <p style="color: rgb(255, 193, 7);">Capacity : </p>
              <p style="color: rgb(93, 91, 103);">30 Kids</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 details">
          <div class="picture">
            <img class="img-fluid" src="/static/images/classes-5.jpg" alt="">
          </div>
          <div class="content">
            <h5>Religion & History</h5>
          <div class="col pic">
            <div class="wrap">
              <div class="photo">
                <img src="/static/images/user.jpg" alt="">
              </div>
              <div class="name">
                <h6>Jhon Doe</h6> 
                <p>Teacher</p>
              </div>
            </div>
            <div class="read_more">
              <a href="">$99</a>
            </div>
          </div>
        </div>
        <div class="row age_time_capacity">
          <div class="col-md-4 col-12 item">
            <p style="color: rgb(246, 85, 49);">Age : </p>
            <p style="color: rgb(93, 91, 103);">3-5 Years</p>
          </div>
          <div class="col-md-4 col-12 item">
            <p style="color: rgb(25, 135, 84);">Time : </p>
            <p style="color: rgb(93, 91, 103);">9:10 AM</p>
          </div>
          <div class="col-md-4 col-12 item">
            <p style="color: rgb(255, 193, 7);">Capacity : </p>
            <p style="color: rgb(93, 91, 103);">30 Kids</p>
          </div>
        </div>
        </div>
        <div class="col-md-4 col-12 details">
          <div class="picture">
            <img class="img-fluid" src="/static/images/classes-6.jpg" alt="">
          </div>
          <div class="content">
            <h5>General Knowledge</h5>
          <div class="col pic">
            <div class="wrap">
              <div class="photo">
                <img src="/static/images/user.jpg" alt="">
              </div>
              <div class="name">
                <h6>Jhon Doe</h6> 
                <p>Teacher</p>
              </div>
            </div>
            <div class="read_more">
              <a href="">$99</a>
            </div>
          </div>
        </div>
        <div class="row age_time_capacity">
          <div class="col-md-4 col-12 item">
            <p style="color: rgb(246, 85, 49);">Age : </p>
            <p style="color: rgb(93, 91, 103);">3-5 Years</p>
          </div>
          <div class="col-md-4 col-12 item">
            <p style="color: rgb(25, 135, 84);">Time : </p>
            <p style="color: rgb(93, 91, 103);">9:10 AM</p>
          </div>
          <div class="col-md-4 col-12 item">
            <p style="color: rgb(255, 193, 7);">Capacity : </p>
            <p style="color: rgb(93, 91, 103);">30 Kids</p>
          </div>
        </div>
        </div>
    </div>
    </div>
  </div>
</section>

<section>
  <div class="container appointment_section">
    <div class="row make_appointment">
      <div class="col-sm-6 form">
        <h2>Make Appointment</h2>
        <form action="" class="form-control p-0">
          <div class="first_row">
            <input type="text" placeholder="Gaurdian Name">
            <input type="email" placeholder="Gaurdian Email">
          </div>
          <div class="first_row">
            <input type="text" placeholder="Child Name">
            <input type="text" placeholder="Child Age">
          </div>
          <div class="message">
            <input type="text" placeholder="Message">
          </div>
        </form>
        <div class="btn">
          <button type="button">Submit</button>
        </div>
      </div>
      <div class="col-sm-6 image p-0">
        <img class="img-fluid" src="/static/images/appointment.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container popular_teacher_section">
    <div class="row popular_teacher">
      <div class="text">
        <h1>Popular Teachers</h1>
        <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
      </div>
      <div class="teachers">
        <div class="teacher">
          <img src="/static/images/team-1.jpg" alt="">
          <div class="circle">
            <h2>Full Name</h2>
            <p>Designation</p>
            <ul>
              <li><i class="fa-brands fa-facebook"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
          </div>
        </div>
        <div class="teacher">
          <img src="/static/images/team-2.jpg" alt="">
          <div class="circle">
            <h2>Full Name</h2>
            <p>Designation</p>
            <ul>
              <li><i class="fa-brands fa-facebook"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
          </div>
        </div>
        <div class="teacher">
          <img src="/static/images/team-3.jpg" alt="">
          <div class="circle">
            <h2>Full Name</h2>
            <p>Designation</p>
            <ul>
              <li><i class="fa-brands fa-facebook"></i></li>
              <li><i class="fa-brands fa-twitter"></i></li>
              <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class = "container testimonial_section">
    <div class="text">
      <h1>Our Clients Say!</h1>
      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
    </div>
    <div class="prev">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div class="next">
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class = "testimonial swiper">
      <div class = "swiper-wrapper">
        <div class= "swiper-slide">
          <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
          <div class="img_name">
            <div class="pho">
              <img src="/static/images/testimonial-1.jpg" alt="">
            </div>
            <div class="name">
              <h4>Client Name</h4>
              <p>Profession</p>
            </div>
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
        <div class= "swiper-slide">
          <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
          <div class="img_name">
            <div class="pho">
              <img src="/static/images/testimonial-2.jpg" alt="">
            </div>
            <div class="name">
              <h4>Client Name</h4>
              <p>Profession</p>
            </div>
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
        <div class= "swiper-slide">
          <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
          <div class="img_name">
            <div class="pho">
              <img src="/static/images/testimonial-3.jpg" alt="">
            </div>
            <div class="name">
              <h4>Client Name</h4>
              <p>Profession</p>
            </div>
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container footer">
      <div class="row footer_row">
        <div class="col-md-3 col-12 get_in_touch">
          <h3>Get In Touch</h3>
          <p> <span><i class="fa-solid fa-location-dot me-3"></i></span>123 Street, New York, USA</p>
          <p><span><i class="fa-solid fa-phone me-3"></i></span> +012 345 67890</p>
          <p><span><i class="fa fa-envelope me-3"></i></span>mail@domain.com</p>
          <div class="icons">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-md-3 col-12 quik_links">
          <h3>Quik Links</h3>
          <div class="links">
            <a href="#">>About Us</a>
            <a href="#">>Contact Us</a>
            <a href="#">>Our Services</a>
            <a href="#">>Privacy Policy</a>
            <a href="#">>Terms & Conditions</a>
          </div>
        </div>
        <div class="col-md-3 col-12 photo_gallery">
          <h3>Photo Gallery</h3>
          <div class="gallery">
            <img class="img-fluid" src="/static/images/classes-1.jpg" style="height: 80px; width: 80px;" alt="">
            <img class="img-fluid" src="/static/images/classes-2.jpg" style="height: 80px; width: 80px;" alt="">
            <img class="img-fluid" src="/static/images/classes-3.jpg" style="height: 80px; width: 80px;" alt="">
          </div>
          <div class="gallery">
            <img class="img-fluid" src="/static/images/classes-4.jpg" style="height: 80px; width: 80px;" alt="">
            <img class="img-fluid" src="/static/images/classes-5.jpg" style="height: 80px; width: 80px;" alt="">
            <img class="img-fluid"src="/static/images/classes-6.jpg" style="height: 80px; width: 80px;" alt="">
          </div>
        </div>
        <div class="col-md-3 col-12 news_letter">
          <h3>Newsletter</h3>
          <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
          <div class="email">
            <input type="email" placeholder="Your email">
            <button type="button">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
</div>
©
</section>


{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}